<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 text-center text-md-start mb-3 mb-md-0">
                    <a class="navbar-brand" href="/">
                        <img class="bi me-2" src="/img/icon.png" alt="icon" width="32" height="32">
                    </a>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row align-items-center">
                        <div class="col d-flex align-items-center">
                            <div class="input-group align-items-center">
                                <input type="text" class="form-control" id="search_input" placeholder="Here And There" aria-label="Here And There" aria-describedby="search_btn">
                                <button class="btn btn-primary" type="button" id="search_btn">검색</button>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/board/list">게시글</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/review/list">리뷰</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/together/list">동행</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://dcuhere.netlify.app/">부가기능</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <div th:if="${session.user != null}">
                                <div th:if="${session.user.user_img == null}">
                                    <i class="fa-solid fa-user fa-2xl"></i>
                                </div>
                                <div th:if="${session.user.user_img != null}">
                                    <img th:src="${session.user.user_img}" alt="mdo"
                                         width="32" height="32" class="rounded-circle">
                                </div>
                            </div>
                            <i th:if="${session.user == null}" class="fa-solid fa-user fa-2xl"></i>
                            <p class="text-white d-inline-block ml-2" th:if="${session.user}"
                               style="align-self: center;"></p>
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                            <div th:if="${session.user == null}">
                                <li><a class="dropdown-item" href="/account/sign/in">로그인</a></li>
                                <li><a class="dropdown-item" href="/account/sign/up">회원가입</a></li>
                            </div>
                            <div th:if="${session.user != null}">
                                <li th:if="${session.user.role == 'ADMIN'}"><a class="dropdown-item" href="/admin/dashboard">관리자 화면</a></li>
                                <li><a class="dropdown-item" href="/account/sign/profile">내 프로필</a></li>
                                <li><a class="dropdown-item">관리</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" id="signOut" type="button">로그아웃</a>
                                    <script>
                                        $("#signOut").click(function () {
                                            $.ajax({
                                                type: "GET",
                                                url: "/account/sign/out",
                                                success: function (result) {
                                                    window.location.href = "/";
                                                },
                                                error: function (xhr, status, error) {
                                                    var html = "<p class='text-danger'>아이디 또는 비밀번호가 올바르지 않습니다.</p>"
                                                    $("#errorMsg").html(html);
                                                }
                                            });
                                        });
                                    </script>
                                </li>
                            </div>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="" id="tourist_list_search_list"></div>
        </div>
    </nav>
</header>
