<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="nav" class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse" id="list">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-people-group"></i>
                    <span class="ms-2">
                        가족
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-children"></i>
                    <span class="ms-2">
                        친구
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-children"></i>
                    <span class="ms-2">
                        연인
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-child-reaching"></i>
                    <span class="ms-2">
                        솔로
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-landmark"></i>
                    <span class="ms-2">
                        문화
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-tree"></i>
                    <span class="ms-2">
                        자연
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa-solid fa-tent"></i>
                    <span class="ms-2">
                        휴양
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>