<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mz.hat.dao.RegionMapper">

    <select id="list" resultType="com.mz.hat.vo.RegionVo">
        SELECT id, name, lat, lng
        FROM regions
    </select>
</mapper>