<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mz.hat.dao.TogetherMapper">
    <select id="list" resultType="com.mz.hat.vo.TogetherVo">
        SELECT id, user_id, region, title, content, guests, departure_date, arrival_date, reg_date, mod_date
        FROM together
        ORDER BY reg_date DESC
    </select>

    <insert id="write_route" parameterType="com.mz.hat.vo.TogetherVo">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO routes (user_id, tourist_attrs_list, reg_date)
        VALUES (#{user_id}, #{routes}, now())
    </insert>

    <insert id="write" parameterType="com.mz.hat.vo.TogetherVo">
        INSERT INTO together (user_id, route_id, title, content, departure_date, arrival_date, reg_date)
        VALUES (#{user_id}, #{route_id}, #{title}, #{content}, #{departure_date}, #{arrival_date}, now())
    </insert>

    <select id="detail" resultType="com.mz.hat.vo.TogetherVo">
        SELECT id, user_id, route_id, region, title, content, departure_date, arrival_date, reg_date, mod_date
        FROM together
        WHERE id = #{id}
    </select>

    <select id="get_vo" resultType="com.mz.hat.vo.TogetherVo">
        SELECT id, user_id, region, title, content, img, departure_date, arrival_date, reg_date, mod_date
        FROM together
        WHERE id = #{id}
    </select>
</mapper>