<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Here And There</title>
    <th:block th:replace="fragments/head :: head"></th:block>
    <!-- GOOGLE -->
    <script th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${apiKey}"></script>
</head>
<body>
<div class="flex-wrap">
    <div class="container">
        <header th:replace="fragments/header :: header"></header>
        <aside th:replace="admin/fragments/aside :: aside"></aside>
    </div>
    <main class="container">
        <div class="form-group">
            <div>
                <table class="table table-bordered">
                    <thead>
                    <tr class="text-center">
                        <th style="width: 5%">NO.</th>
                        <th style="width: 10%">제목</th>
                        <th style="width: 10%">카테고리</th>
                        <th style="width: 35%">내용</th>
                        <th style="width: 15%">도로명 주소</th>
                        <th style="width: 15%">지번 주소</th>
                        <th style="width: 10%">전화번호</th>
                    </tr>
                    </thead>
                    <tbody id="get_list">
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <div class="container" id="footer">
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</div>
<script>
    $(function () {
        $.ajax({
            type: "GET",
            url: "/admin/tour_list/get",
            success: function (response) {
                // 성공적으로 데이터를 전송한 경우 실행할 코드
                console.log(response); // 서버 응답 확인
                var tour_lists = response.body;
                var html = "";
                for(var i = 0; i < tour_lists.length; i++) {
                    var tour = tour_lists[i];
                    html += "<tr class='align-content-center justify-content-center text-center' id='item-" + tour.id + "'>";
                    html += "<td>" + tour.id + "</td>";
                    html += "<td><a href='/admin/tour_list/" + tour.id + "'>" + tour.name + "</a></td>";
                    html += "<td>" + tour.category_name + "</td>";
                    html += "<td>" + tour.content + "</td>";
                    html += "<td>" + tour.road_address + "</td>";
                    html += "<td>" + tour.parcel_address + "</td>";
                    html += "<td>" + tour.tel + "</td>";
                    html += "</tr>";
                }
                $("#get_list").html(html);
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });

        $("#tagname").keypress(function(event) {
            var $input = $(event.target),
                tagMap = $input.data("tagMap") || {},
                keyCode = event.keyCode || event.which,
                value;

            $input.data("tagMap", tagMap);

            if (keyCode === 32) {
                value = $.trim($input.val());
                if (value !== "" && tagMap[value] === undefined) {
                    tagMap[value] = 1;
                    $("#tags").append($("<div>").addClass("tag").html(value));
                    $input.val('');
                }
            }
        });

        $("#tags").on("click", ".tag", function(event) {
            var $tag = $(event.target),
                tagText = $.trim($tag.text());

            $tag.remove();
            delete $("#tagname").data("tagMap")[tagText];
        });
    });
</script>
</body>
</html>