<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mz.hat.dao.CategoryMapper">

    <select id="list" resultType="com.mz.hat.vo.CategoryVo">
        SELECT id, name, code, code_ref, icon
        FROM category;
    </select>
</mapper>