<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Here And There</title>
    <th:block th:replace="fragments/head :: head"></th:block>
    <!-- GOOGLE -->
    <script th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${apiKey}"></script>
    <style>
        #map {
            height: 400px; /* 지도 높이 설정 */
            width: 100%; /* 지도 너비 설정 */
        }
    </style>
</head>
<body>
<div class="flex-wrap">
    <div>
        <header th:replace="fragments/header :: header"></header>
        <nav th:replace="fragments/nav :: nav"></nav>
    </div>
    <main>
        <div class="container" id="content">
            <div class="row row-cols-1 row-cols-md-2 mb-3">
                <div class="mt-3 justify-content-center align-content-center text-center" id="cards">

                </div>
            </div>
        </div>
        <div id="map_window" style="display: none">
            <div id="map">

            </div>
        </div>
    </main>
    <button type="button" class="btn btn-primary fixed-bottom mb-5 mx-auto col-md-1" id="map_btn"
            style="left:0; right:0;">
        지도 열기
    </button>
    <div class="container" id="footer">
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</div>
<script>
    $(function () {
        $.ajax({
            url: "/get/reviews",
            method: "GET",
            success: function (response) {
                console.log(response);
                // Update the card content
                var list = response.body;
                $("#cards").empty();
                for (var i = 0; i < list.length; i++) {
                    var item = list[i];
                    var date = new Date(item.reg_date);

                    var year = date.getFullYear();
                    var month = ("0" + (date.getMonth() + 1)).slice(-2);
                    var day = ("0" + date.getDate()).slice(-2);
                    var hour = ("0" + date.getHours()).slice(-2);
                    var minute = ("0" + date.getMinutes()).slice(-2);
                    var second = ("0" + date.getSeconds()).slice(-2);

                    var reg_date = year + "년 " + month + "월 " + day + "일 " + hour + ":" + minute + ":" + second;
                    var imageSrc = "";
                    if (item.img && item.img.length > 0) {
                        imageSrc = "images/" + item.img[0].image_path;
                    }

                    var cardHtml = "<div class='card' style='width: 18rem;'>";
                    cardHtml += "<img src='" + imageSrc + "' class='card-img-top' alt='...'>";
                    cardHtml += "<div class='card-body'>";
                    cardHtml += "<h5 class='card-title'>" + item.title + "</h5>";
                    cardHtml += "<p class='card-text'>" + item.content + "</p>";

                    var maxLength = 50; // 최대 글자 수

                    $("p").each(function () {
                        var content = $(this).text();
                        if (content.length > maxLength) {
                            var truncatedContent = content.substr(0, maxLength) + " ...";
                            $(this).text(truncatedContent);
                        }
                    });
                    cardHtml += "</div>";
                    cardHtml += "<ul class='list-group list-group-flush'>";

                    cardHtml += "<li class='list-group-item'>관광지 : " + item.tourist_attr_name + "</li>";
                    cardHtml += "<li class='list-group-item'>좋아요 : " + item.likes + "</li>";
                    cardHtml += "<li class='list-group-item'>등록일 : " + reg_date + "</li>";
                    cardHtml += "</ul>";
                    cardHtml += "<div class='card-body'>";
                    cardHtml += "<a href='/review/" + item.id + "' class='card-link'>정보</a>";
                    cardHtml += "</div>";
                    cardHtml += "</div>";
                    $("#cards").append(cardHtml);
                }
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
        var lat = 35.915455;
        var lng = 128.811749;
        $.ajax({
            type: "GET",
            url: "/admin/tour_list/get",
            success: function (response) {
                // 성공적으로 데이터를 전송한 경우 실행할 코드
                console.log(response); // 서버 응답 확인

                var routes = response.body;

                var routes_cord = [];

                for (var i = 0; i < routes.length; i++) {
                    var cord = {
                        title: routes[i].name,
                        lat: parseFloat(routes[i].lat),
                        lng: parseFloat(routes[i].lng)
                    }
                    routes_cord.push(cord);
                }
                // 표시할 위치
                var myLatLng = {lat: lat, lng: lng};

                // 지도 옵션 설정
                var mapOptions = {
                    zoom: 13,
                    center: myLatLng
                };

                // 구글 맵 생성
                var map = new google.maps.Map($("#map")[0], mapOptions);
                // 마커 생성
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: "test",
                });

                for (var i = 0; i < routes_cord.length; i++) {
                    // 마커 생성
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(routes_cord[i].lat, routes_cord[i].lng),
                        map: map,
                        title: routes_cord[i].title
                    });
                }
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });

        $("#map_btn").click(function () {
            var map_btn_name = $("map_btn").text();
            if (map_btn_name === "지도 열기") {
                $("map_btn").text("지도 닫기");
            } else {
                $("map_btn").text("지도 열기");
            }
            $("#content").toggle();
            $("#footer").toggle();
            $("#map_window").toggle();
        });

        $(".nav-link.nav-bar.category").click(function (e) {
            e.preventDefault();
            var category_name = $(this).data("set");
            console.log(category_name);
            // Hide the previously clicked links
            $(".nav-link.nav-bar").not(this).addClass("collapsed");
            $(".nav-link.nav-bar").not(this).attr("aria-expanded", 'false');
            $(".nav-link.nav-bar").not(this).siblings(".collapse").removeClass("show");

            // Load the content via AJAX
            $.ajax({
                url: "/category/" + category_name,
                method: "GET",
                success: function (response) {
                    console.log(response);
                    // Update the card content
                    var list = response.body;
                    $("#cards").empty();
                    for (var i = 0; i < list.length; i++) {
                        var item = list[i];
                        var imageSrc = "";
                        if (item.img && item.img.length > 0) {
                            imageSrc = "images/" + item.img[0].image_path;
                        }

                        var cardHtml = "<div class='card' style='width: 18rem;'>";
                        cardHtml += "<img src='" + imageSrc + "' class='card-img-top' alt='...'>";
                        cardHtml += "<div class='card-body'>";
                        cardHtml += "<h5 class='card-title'>" + item.name + "</h5>";
                        cardHtml += "<p class='card-text'>" + item.content + "</p>";

                        var maxLength = 50; // 최대 글자 수

                        $("p").each(function () {
                            var content = $(this).text();
                            if (content.length > maxLength) {
                                var truncatedContent = content.substr(0, maxLength) + " ...";
                                $(this).text(truncatedContent);
                            }
                        });
                        cardHtml += "</div>";
                        cardHtml += "<ul class='list-group list-group-flush'>";

                        cardHtml += "<li class='list-group-item'>" + item.category_name + "</li>";
                        cardHtml += "<li class='list-group-item'>" + item.road_address + "</li>";
                        cardHtml += "<li class='list-group-item'>" + item.tel + "</li>";
                        cardHtml += "</ul>";
                        cardHtml += "<div class='card-body'>";
                        cardHtml += "<a href='/tourist/" + item.id + "' class='card-link'>정보</a>";
                        cardHtml += "</div>";
                        cardHtml += "</div>";
                        $("#cards").append(cardHtml);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
        $("#search_input").on("keyup", function () {
            var keyword = $(this).val().trim();
            console.log(keyword);
            $.ajax({
                type: "GET",
                url: "/together/write/get/tourist/" + keyword,
                success: function (response) {
                    var tour_lists = response.body;
                    var list = $("#tourist_list_search_list");
                    list.empty();
                    console.log(tour_lists)
                    for (var i = 0; i < tour_lists.length; i++) {
                        var _item = $("<div>").text(tour_lists[i].name);
                        _item.addClass("items");
                        list.append(_item);
                    }
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        });
        $("#search_btn").click(function () {
            var keyword = $("#search_input").val().trim();
            if (keyword !== "") {
                // Perform AJAX request for search
                $.ajax({
                    url: "/search",
                    method: "GET",
                    data: {keyword: keyword},
                    success: function (response) {
                        // Handle the search results
                        console.log(response);

                        $("#cards").empty();
                        var item = response.body;
                        var imageSrc = "";
                        if (item.img && item.img.length > 0) {
                            imageSrc = "images/" + item.img[0].image_path;
                        }

                        var cardHtml = "<div class='card' style='width: 18rem;'>";
                        cardHtml += "<img src='" + imageSrc + "' class='card-img-top' alt='...'>";
                        cardHtml += "<div class='card-body'>";
                        cardHtml += "<h5 class='card-title'>" + item.name + "</h5>";
                        cardHtml += "<p class='card-text'>" + item.content + "</p>";

                        var maxLength = 50; // 최대 글자 수

                        $("p").each(function () {
                            var content = $(this).text();
                            if (content.length > maxLength) {
                                var truncatedContent = content.substr(0, maxLength) + " ...";
                                $(this).text(truncatedContent);
                            }
                        });
                        cardHtml += "</div>";
                        cardHtml += "<ul class='list-group list-group-flush'>";

                        cardHtml += "<li class='list-group-item'>" + item.category_name + "</li>";
                        cardHtml += "<li class='list-group-item'>" + item.road_address + "</li>";
                        cardHtml += "<li class='list-group-item'>" + item.tel + "</li>";
                        cardHtml += "</ul>";
                        cardHtml += "<div class='card-body'>";
                        cardHtml += "<a href='/tourist/" + item.id + "' class='card-link'>정보</a>";
                        cardHtml += "</div>";
                        cardHtml += "</div>"
                        console.log(cardHtml);
                        $("#cards").append(cardHtml);

                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }
        });

        $("#tourist_list_search_list").on("click", ".items", function () {
            var selected = $(this).text();
            $("#tourist_list_search_list").empty();
            $("#search_input").val(selected);
        });
    });
</script>
</body>
</html>