<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Here And There</title>
    <th:block th:replace="fragments/head :: head"></th:block>
</head>
<body>
<div class="container">
    <header th:replace="fragments/header :: header"></header>
    <main>
        <a type="button" id="write" href="/review/write">글쓰기</a>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>
<script>
    $(function () {
        $.ajax({
            type: "GET",
            url: "/review/list/get",
            success: function (response) {
                // 성공적으로 데이터를 전송한 경우 실행할 코드
                console.log(response); // 서버 응답 확인
                var reviews = response.body;
                var html = "";
                for (var i = 0; i < reviews.length; i++) {
                    var reivew = reviews[i];
                    html += "<div class='card' style='width: 18rem;'>";
                    html += "<img src='" + reivew.image + "' class='card-img-top' alt='...'>";
                    html += "<div class='card-body'>";
                    html += "<h5 class='card-title'>" + reivew.title + "</h5>";
                    html += "<p class='card-text'>" + reivew.content + "</p>";
                    html += "</div>";
                    html += "<ul class='list-group list-group-flush'>";
                    html += "<li class='list-group-item'>" + reivew.reg_date + "</li>";
                    html += "<li class='list-group-item'>" + reivew.tourist_attr_name + "</li>";
                    html += "</ul>";
                    html += "<div class='card-body'>";
                    html += "<a href='#' class='card-link'>Card link</a>";
                    html += "<a href='#' class='card-link'>Another link</a>";
                    html += "</div>";
                    html += "</div>";
                }
                $("#get_list").html(html);

                $("tr.align-content-center.justify-content-center.text-center").click(function() {
                    // 클릭된 tr의 id에서 게시글의 ID를 추출
                    var id = $(this).attr("id").split("-")[1];
                    // 게시글 상세 페이지로 이동
                    window.location.href = "/together/" + id;
                });
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });
</script>
</body>
</html>