<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Here And There</title>
    <th:block th:replace="fragments/head :: head"></th:block>
    <!-- GOOGLE -->
    <script th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${apiKey}"></script>
</head>
<body>
<div class="container">
    <header th:replace="fragments/header :: header"></header>
    <main>
        <form>
            <div class="mb-3">
                <label for="title" class="form-label">제목</label>
                <input type="text" class="form-control" id="title" name="title" th:value="${together.title}"
                       placeholder="제목" disabled>
            </div>
            <div class="mb-3">
                <label for="user_name" class="form-label">작성자</label>
                <input type="text" class="form-control" id="user_name" name="user_name" th:value="${user.user_name}"
                       disabled>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <input type="text" class="form-control" id="content" name="content" th:value="${together.content}"
                       disabled>
            </div>
            <div class="mb-3">
                <label for="departure_date" class="form-label">출발일</label>
                <input type="text" class="form-control" id="departure_date" name="departure_date"
                       th:value="${together.departure_date}" disabled>
            </div>
            <div class="mb-3">
                <label for="arrival_date" class="form-label">도착일</label>
                <input type="datetime-local" class="form-control" id="arrival_date" name="arrival_date"
                       th:value="${together.arrival_date}" disabled>
            </div>
            <div class="mb-3">
                <label for="tourist_attrs_list" class="form-label">코스</label>
                <input type="text" class="form-control" id="tourist_attrs_list" name="tourist_attrs_list"
                       th:value="${route.tourist_attrs_list}" disabled>
            </div>
            <div class="mb-3" id="map_window">
                <div id="map" style="height: 500px">

                </div>
            </div>
        </form>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
</div>
<script>
    $(function () {
        var route = $("#tourist_attrs_list").attr("value");
        $.ajax({
            type: "GET",
            url: "/route/cord/get",
            data: {route: route},
            success: function (response) {
                // 성공적으로 데이터를 전송한 경우 실행할 코드
                console.log(response); // 서버 응답 확인

                var routes = response.body;

                var routes_cord = [];

                for (var i = 0; i < routes.length; i++) {
                    var cord = {
                        title: routes[i].name,
                        lat: parseFloat(routes[i].lat),
                        lng: parseFloat(routes[i].lng)
                    }
                    routes_cord.push(cord);
                }
                // 표시할 위치
                var myLatLng = {lat: routes_cord[0].lat, lng: routes_cord[0].lng};

                // 지도 옵션 설정
                var mapOptions = {
                    zoom: 13,
                    center: myLatLng
                };

                // 구글 맵 생성
                var map = new google.maps.Map($("#map")[0], mapOptions);

                for(var i = 0; i < routes_cord.length; i++) {
                    // 마커 생성
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(routes_cord[i].lat, routes_cord[i].lng),
                        map: map,
                        title: routes_cord[i].title
                    });
                }
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    });
</script>
</body>
</html>